.profile-card {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 16px;
}

.profile-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #0A0A0A;
}

.profile-card span {
  display: block;
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6D7885;
}
